* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: rgb(63, 94, 251);
    background: -moz-linear-gradient(270deg, rgba(63, 94, 251, 1) 0%, rgba(245, 50, 90, 1) 100%);
    background: -webkit-linear-gradient(270deg, rgba(63, 94, 251, 1) 0%, rgba(245, 50, 90, 1) 100%);
    background: linear-gradient(270deg, rgba(63, 94, 251, 1) 0%, rgba(245, 50, 90, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb", endColorstr="#f5325a", GradientType=1);
    padding: 10rem;
}

.container {
    width: 100%;


}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7 {
    margin: 1rem;
    height: 14rem;
}

div img {
    width: 30%;
    float: left;
    padding: 0px 20px 10px 0px;
    transition-property: width;
border-radius: 10%;

}

div img:hover {
    cursor: pointer;
    width: 35%;
    transform: translateXY(5%);
    transition: all 1s ease-in-out 0.5s;
}


.box {
    background: rgb(140, 158, 246);
    background: -moz-linear-gradient(270deg, rgba(140, 158, 246, 1) 0%, rgba(247, 122, 148, 1) 100%);
    background: -webkit-linear-gradient(270deg, rgba(140, 158, 246, 1) 0%, rgba(247, 122, 148, 1) 100%);
    background: linear-gradient(270deg, rgba(140, 158, 246, 1) 0%, rgba(247, 122, 148, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8c9ef6", endColorstr="#f77a94", GradientType=1);
    padding: 1rem;
    margin: 2rem 4rem;
    box-shadow: 0px 10px 20px black;
    border-radius: 8px;
}

div h1 {
    color: #f4a26a;
}

div a {
    float: right;
    text-decoration: none;
    border-radius: 10%;
    padding: 0.25rem 0.5rem;
    background-color: #ff7f4d;
    color: white;

}

header h1 {
    text-align: center;
    font-size: 4rem;
    text-shadow: 0px 10px 10px azure;
}