* {padding: 0px;
margin: 0px;
box-sizing: border-box;
}

html {
    height: 100vh;
    margin-top: 0px;
    
}

.dr{
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 20% auto;
    outline: 3.1px inset #d14d79;
padding: 80px;
border-radius: 50%;
background-color: #1d6ecb;
position: relative;
animation: dön 0.4s linear infinite

}

.kdr{
    position: absolute;
    left:10%;
    top:10%;
    text-align: center;
    width: 100px;
    height: 100px;
    padding: 80px;
border-radius: 50%;
background-color: #8b1b1b;
outline: 3.1px inset hsl(103, 59%, 69%);

}
.dr:hover{
    cursor: pointer;
    animation: none;
}

@keyframes dön {
    100%{
        transform-origin: 0, 0;
    transform: rotate( 360deg);
   
}
}